{
    "base_url": "http://a.b.c.d:88/",
    "user_name": "admin",
    "password": "",

    "node_http_port": 3000,

    "locale": "en",
    "page_title": "My Foscam Page",
    "loading_label": "Loading…",
    "refresh_label": "Refresh",
    "image_taken_label": "Image was taken"
}
