{
    "base_url": "http://a.b.c.d:88/",
    "user_name": "admin",
    "password": "",

    "node_http_port": 3000,
    "rate_limit": 30,

    "enable_web_password": true,
    "web_password": "foobar",

    "locale": "en",
    "page_title": "My Foscam Page",
    "loading_label": "Loading…",
    "password_label": "Password",
    "login_label": "Login",
    "logout_label": "Logout",
g    "incorrect_password_label": "Incorrect password",
    "expired_session_label": "Session expired."
}
