<style>
    .webcam-image {
        width: 100%;
        height: auto;
    }

    body {
        margin: 0;
        background-color: black;
    }

    .reload-btn {
        display: none;
        opacity: 0.9;
        color: white;
        background-color: black;
        border: 0.7vmin solid white;
        font-family: "Lucida Console", Monaco, monospace;
    }

    .loading-label {
        color: black;
        background-color: yellow;
        border-color: #888;
        font-family: "Lucida Console", Monaco, monospace;
    }

    .btn {
        position: absolute;
        right: 5vmin;
        bottom: 5vmin;
        padding: 2vmin 4vmin;
        font-size: 7vmin;
    }

    .reload-btn:hover {
        background-color: #444;
        cursor: pointer;
    }
</style>

<script>
    $(function() {
        $('.reload-btn').click(function() {
            location.reload();
        });

        $(".webcam-image").one("load", function() {
            $('.loading-label').hide();
            $('.reload-btn').show();
        }).each(function() {
            if (this.complete) $(this).load();
        });
    });
</script>

<div class="loading-label btn">{{loading_label}}</div>

<img class="webcam-image" src="/snapshot.png" />

<div class="reload-btn btn">{{refresh_label}}</div>
