<style>
    html {
        background-color: black;
        color: white;
    }

    body {
        display: flex;
        height: 100vh;
        flex-direction: column;
    }

    .main {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
    }

    .menu {
        border-top: 1px solid #cfd8dc;
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 12px;
        color: white;
    }

    .webcam-image {
        display: none;
        max-width: 100%;
        height: auto;
    }

    .loaded-label, .webcam-image {
        flex: 1;
    }
</style>

<script>
    $(function() {
        $('.btn-reload').click(function() {
            location.reload();
        });

        $(".webcam-image").one("load", function() {
            $('.loading-blocker').hide();
            $('.webcam-image').show();
        }).each(function() {
            if (this.complete) $(this).load();
        });
    });
</script>

<div class="main">
    <img class="webcam-image" src="/snapshot.png" />
    <div class="loading-blocker">{{loading_label}}</div>
</div>

<div class="menu indigo">
    <div class="loaded-label">{{image_taken_label}} {{timestamp}}</div>
    <div class="buttons">
        <a class="btn-reload indigo lighten-2 waves-effect waves-light btn-large">{{refresh_label}}</a>
    </div>
</div>
